/* game board table */
body {
  background: rgba(39, 35, 58, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#board {
 /*stuff*/
 padding: 5%;
 border: 5px solid black;
 border-radius: 10%;
 background: rgba(196, 203, 202, 1);
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.red {
  background: rgba(114, 0, 38, 1);
}

.blue {
  background:rgba(44, 73, 127, 1);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px rgba(44, 73, 127, 1);
  border-radius: 50%;
}

#column-top td:hover {
  background-color: rgba(255, 207, 0, 1);
}
h1{
  color:  rgba(255, 207, 0, 1);
}
